@import url('https://fonts.googleapis.com/css2?family=Anta&family=Fredericka+the+Great&family=Jersey+10&family=La+Belle+Aurore&display=swap');

.seccion {
    box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.263);
    border-radius: 9px;
    background-color: rgba(70, 67, 67, 0.129);
    height: 230px;
    width: 290px;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Anta", sans-serif;
    font-weight: 200;
    font-size: 23px;
    letter-spacing: 3px;
    text-align: center;

    &:hover {
        transform: scale(1.02);
        // border: 1px solid rgba(255, 255, 255, 0.263);
        box-shadow: 0px 0px 13px 6px rgba(255, 255, 255, 0.263)
    }

    .titulo {
        background: linear-gradient(to right, rgb(2, 255, 2), white);
        -webkit-background-clip: text;
        /* Para navegadores WebKit */
        background-clip: text;
        color: transparent;
        text-shadow: 1px 1px 11px rgba(255, 255, 255, 0.399);
    }

    .botones {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img {
            width: 50px;
            margin: 31px;
            cursor: pointer;
            transition: all 0.2s linear;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}