.img-zoom-container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding-top: 20px;
  // margin-bottom: 10px;
  z-index: 1100;

  .item-img {
    display: block;
    width: 460px;
    /* Ancho de la imagen */
    height: auto;
    /* Altura automática */
    transition: transform 0.2s ease-in-out;
    /* Transición suave para transformaciones */
    cursor: zoom-in;
    box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.263);
  }

  .zoom-canvas {
    position: absolute;
    top: 0;
    left: 100%; // Posición a la derecha de la imagen
    margin: 3px; //
    margin-left: 20px;
    width: 310px;
    // z-index: 1000 !important;
  }

}