
.counter1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 13px;
    .tooltip {
        position: absolute;
        // top: -30px; // Adjust this value based on the desired tooltip position
        // left: 50%;
        // transform: translateX(-50%);
        bottom: 48px;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        font-size: 14px;
        white-space: nowrap;
    }
    p {
        background: linear-gradient(to right, #646216, #847c0e, #a39806,); // Gray to White;
        -webkit-background-clip: text;
        /* Para navegadores WebKit */
        background-clip: text;
        color: transparent;
        text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.399);
        font-size: 23px;
    }

    button {
        color: rgb(10, 10, 10);
        background-color: transparent;
        font-size: 39px;
        margin: 10px;
        border: none;
        background: linear-gradient(to right, #afab2b, #eede09, #a39806,); // Gray to White;
        -webkit-background-clip: text;
        /* Para navegadores WebKit */
        background-clip: text;
        color: transparent;
        text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.485);
        cursor: pointer;
        padding-bottom: 1px;
        transition: all 0.8s linear;
        &:hover{
            transform: scale(1.1);
        }
    }
}