@import url('https://fonts.googleapis.com/css2?family=Anta&family=Fredericka+the+Great&family=Jersey+10&family=La+Belle+Aurore&display=swap');

.stopwatch-container {
    .tooltip {
        position: absolute;
        // top: -30px; // Adjust this value based on the desired tooltip position
        // left: 50%;
        transform: translateX(90px);
        bottom: 50px;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        font-size: 14px;
        white-space: nowrap;
    }
    h2 {
        font-size: 18px;
        margin: 5px;
        padding-left: 25px;
        padding-top: 5px;
        background: linear-gradient(to right, #646216, #847c0e, #a39806, ); // Gray to White;
        -webkit-background-clip: text;
        /* Para navegadores WebKit */
        background-clip: text;
        color: transparent;
        text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.399);
    }

    p {
        background: linear-gradient(to right, #646216, #847c0e, #a39806, ); // Gray to White;
        -webkit-background-clip: text;
        /* Para navegadores WebKit */
        background-clip: text;
        color: transparent;
        text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.399);
        margin: 0px 3px;
        font-size: 30px;
    }

    .botones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 30px;
        img {
            width: 50px;
            // margin: 23px 0px;
            padding: 15px;
            cursor: pointer;
            transition: all 0.2s linear;

            &:hover {
                transform: scale(1.03);
            }
        }
    }
    .swal-text-custom {
        background: linear-gradient(to right, #646216, #847c0e, #a39806, ); // Gray to White;
        -webkit-background-clip: text;
        /* Para navegadores WebKit */
        background-clip: text;
        color: transparent;
        font-family: "Anta", sans-serif;
    }
}
