.toast-container{
    width: 100%;
    padding-left:25px;
    border-radius: 10px;
    .tooltip {
        position: absolute;
        // top: -30px; // Adjust this value based on the desired tooltip position
        left: 38%;
        transform: translateY(266px);
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        font-size: 14px;
        white-space: nowrap;
    }
    img{
        width: 70px;
        cursor: pointer;
        transition: all 0.3s linear; 
        filter: drop-shadow(0px 0px 5px rgba(116, 113, 113, 0.5));
        &:hover{
            transform: scale(1.1);
            filter: drop-shadow(0px 0px 10px rgba(211, 205, 205, 0.5));
        }
        &.disabled {
            cursor: not-allowed;
            pointer-events: none; // Desactiva los eventos de puntero como hover
    
            &:hover {
                transform: none; // Desactiva la transformación de hover
            }
        }
    }
}

.custom-toast{
    color: rgba(255, 255, 255, 0.905);
    background-image: radial-gradient(circle, #c51717, #a40d15, #840511, #64010b, #470000);
}